.Contact{
  background: url('../../assets/img/bg-masthead.jpg') no-repeat center center;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.Overlay {
    //position: absolute;
    //background-color: #212529;
    //height: 100%;
    //width: 100%;
    //top: 0;
    //left: 0;
    //opacity: .3;
}