.first {
  //background-image: url('../../assets/img/bg-showcase-1.jpg');
  background-image: url('../../assets/img/bur/b1.jpg');
  min-height: 30rem;
  background-size: cover;
}

.two{
  //background-image: url('../../assets/img/bg-showcase-2.jpg');
  background-image: url('../../assets/img/bur/b2.jpg');
  min-height: 30rem;
  background-size: cover;
}

.tree{
  //background-image: url('../../assets/img/bg-showcase-3.jpg');
  background-image: url('../../assets/img/bur/b3.jpg');
  min-height: 30rem;
  background-size: cover;
}

.over {
  min-height: 30rem;
  background-size: cover;
}

.text{
  padding: 3rem;
}

